@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin btn {
  @include hover();
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

@mixin hover {
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    opacity: 0.6;
    text-decoration: underline;
  }
}

@mixin font($size , $weight ,$height , $spacing, $color) {
  font-family: $arial;
  font-size: $size ;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  color: $color;
}
