$desktop: 1340px - 1px;
$min-desktop: 1020px - 1px;
$tablet: 700px - 1px;
$mobile: 300px;

$white: #ffffff;
$black: #000000;
$text-color: #1e1e1e;
$primary-color: #4764b0;
$secondary-color: #f5f0f0;

$arial: "Arial", sans-serif;

